body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto';
}
.title{
    color: #111111;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    font-size: 30px;
    font-weight:bolder;
}
footer {
    background-color: #111111;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: #F6DF1C;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.platzi{
    font-weight:600;
    margin-left: 110px;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    color: #F6DF1C;
    font-size: inherit;
    text-decoration: none;
}
.ig{
    margin-right: 110px;
    font-weight:600;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    color: #F6DF1C;
    font-size: inherit;
    justify-content: flex-end;
    text-decoration: none;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 340px;
    margin-left: 80px;
    margin-top: 40px;
}
p{
    margin-left: 80px;
    margin-top: 40px;
}
.section-cuadrado{
    background-color: #F6DF1C;
    border-radius: 25px;
    border:4px solid #111111;
    padding-left: 40px;
    padding-right: 40px;
    width: 280px;
}
.p-response{
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0 0 0;
    margin: 0;
}
.p-responseAT{
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0 0 0;
    margin: 0;
    color: #111111;
}
h3{
    display: flex;
    justify-content: center;
    font-weight: 800;
}
.h3-triangulo{
    display: flex;
    justify-content: center;
    font-weight: 800;
    margin-bottom: 10px;
}

.botones{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.label-input{
    background-color: #F8E650;
    border-radius: 5px;
    border:2px solid #111111;
    height: 20px;
    width: 40px;
}
.label-input-triangulo{
    background-color: #F8E650;
    border-radius: 5px;
    border:2px solid #111111;
    height: 20px;
    width: 33px;
}
.boton{
    background-color: #F8E650;
    border-radius: 5px;
    border:2px solid #111111;
    margin-top: 10px;
    height: 30px;
}
.boton-triangulo{
    background-color: #F8E650;
    border-radius: 5px;
    border:2px solid #111111;
    margin-top: 6px;
    height: 30px;
}

.imagen-figura{
    height: 75px;
    width: 75px;
    padding-bottom: 15px;
    display: inline;
    padding-left: 100px;
}
.imagen-triangulo{
    height: 90px;
    width: 90px;
    padding-bottom: 12px;
    display: inline;
    padding-left: 98px;
}


